{% extends 'base/main.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="rounded">
            <div class="bg-blue-400 p-5 rounded flex">
                <p class="text-2xl">Welcome Back! {{ user }}</p>
                <a href="{% url 'logout' %}" class="text-gray-700 hover:text-yellow-300 ml-auto m-0">Logout</a>
            </div>
            
            <div class="text-xl">
                <div class="m-6 ml-10">
                    <div class="flex w-max">
                        <p class="text-2xl">You have {{ count }} Tasks to do.</p>
                        <a href="{% url 'task-create' %}"><i class="fas fa-plus fa-lg text-green-500 ml-5"></i></a>
                    </div>
                    <form method="get" class="">
                        <input type="text" name="search-area" value="{{ search_input }}" class="bg-gray-200 text-gray-700 my-4 h-14 p-3 rounded">
                        <button type="submit" class="bg-green-600 rounded p-3 font-semibold">serach</button>
                    </form>
                    {% for task in tasks %}
                        <div class="my-3">
                            <p class="min-w-max">
                                {% if task.completed %}
                                    <i class="fas fa-check fa-lg text-green-500 mr-2"></i>
                                    <s class="line-through"><a href="{% url 'task-update' task.id %}">{{ task }}</a></s>
                                {% else %}
                                    <i class="fas fa-minus fa-lg text-gray-500 mr-3"></i>
                                    <a href="{% url 'task-update' task.id %}">{{ task }}</a>
                                {% endif %}
                                <a href="{% url 'task-delete' task.id %}" class="float-right"><i class="fas fa-times fa-lg text-red-600 relative"></i></a>
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
    <h2>
        <a href="{% url 'login' %}">Login</a>
    </h2>
    {% endif %}
{% endblock content %}